@{
    ViewData["Title"] = "Dashboard de Vendas";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dashboard de Vendas</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>Dashboard de Vendas</h1>
        <canvas id="salesChart" width="600" height="400"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>
